input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; 
}
input[type=number]{
    -moz-appearance: textfield;
    height: 18px;
    width: 200px;
}
input{
    margin: 5px;
}
button{
    margin: 5px;
}

.error{
    border: 2px solid red;
    height: 18px;
    width: 200px;
}

